@charset "utf-8";
@import "base/cssreset.scss";
@import "base/necessary.scss";
@import "base/common.scss";

/*warn begin:这里原本来要放在_extend.scss里面的，但是由于home.scss import _necessary.scss 而_necessary.scss import _extend.scss，导致背景图片路径怎么相对都是错误的，
现在的解决方法是涉及图片路径的都放在这里，暂时过度，待找到原因
*/

/*lazyload*/
/*background lazyload style*/
.bg_lazyload{
  &[lazy=loading]{
    background-size: px2rem(159) important();
  }
  &[lazy=error]{
    background-size: px2rem(138) important();
  }
  &[lazy=loaded]{
    @extend .cover;
  }
}
/*img lazyload style*/
.img_lazyload{
  &[lazy=loading]{
      background-size: px2rem(159) important();
  }
  &[lazy=error]{

  }
  &[lazy=loaded]{

  }
}
/*lazyload*/


/*warn end*/
.list_bottom{
  padding: px2rem(30) px2rem(24);
  @extend .text_center;
  color:$color_9E9E9E;
  @extend .relative;
  @include px2px(line-height,32);
  @include px2px(font-size,28);
  span{
    &.finished{
      &:before{
        @extend .none;
      }
    }
    &:before{
      content: '';
      @extend .inline_block;
      @include px2px(width,32);
      @include px2px(height,32);
      @extend .contain;
      vertical-align: top;
      margin-right: px2rem(10);
    }
  }
}

/*清除浮动*/
.clearFix:after{
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.clearFix{
  zoom: 1;
}
