@charset "utf-8";
@import "../../../assets/scss/base/necessary";
/*App.vue样式*/
html, body, #homePage {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: RGB(230,232,234);
  height: 100%;
  overflow: hidden;
  width: 100%;
  .top {
    background-color: #ffffff;
    float: left;
    height: 63px;
    width: 82%;
    padding: 0 5% 0 20px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    .title {
      color:grey;
      font-size: 20px;
      line-height: 72px;
    }
    .user-name {
      float: right;
      line-height: 71px;
      cursor: pointer;
      color: #13CE66;
      margin-right: 15px;
    }
    .icon-wode- {
      font-size: 17px;
    }
  }
  .Page {
    overflow: hidden;
    max-height: 93%;
    float: right;
    overflow-y: auto;
    padding: 10px 20px;
    width: 82%;
  }
}
