
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501652489705'); /* IE9*/
  src: url('iconfont.eot?t=1501652489705#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501652489705') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501652489705') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.Developer+*/
  url('iconfont.svg?t=1501652489705#iconfont') format('svg'); /* iOS 4.Profile- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duoyun:before { content: "\e603"; }

.icon-qinglang:before { content: "\e604"; }

.icon-dalei:before { content: "\e608"; }

.icon-fengji:before { content: "\e609"; }

.icon-shaoyun:before { content: "\e60a"; }

.icon-shidu:before { content: "\e60b"; }

.icon-shuitongfa:before { content: "\e60c"; }

.icon-taiyangyu:before { content: "\e60d"; }

.icon-wu:before { content: "\e60e"; }

.icon-xiayu:before { content: "\e60f"; }

.icon-xiaxue:before { content: "\e610"; }

.icon-yintian:before { content: "\e611"; }

.icon-turangwendu:before { content: "\e612"; }

.icon-wendu:before { content: "\e613"; }

.icon-eryanghuatannongdu:before { content: "\e614"; }

.icon-shifei:before { content: "\e615"; }

.icon-yangqinongdu:before { content: "\e616"; }

.icon-shouye:before { content: "\e618"; }

.icon-liebiao:before { content: "\e62a"; }

.icon-wode-:before { content: "\e62c"; }

